.drawer-content {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0;
  opacity: 0;
}

.drawer-content.open {
  /* max-height is calculated and set in MapGLDrawerController.tsx */
  opacity: 1;
}

.drawer-content.closed {
  max-height: 0;
  opacity: 0;
} 